name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: 24.12.0
          cache: pnpm

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: robinraju/release-downloader@v1.12
        with:
          repository: w3c/epubcheck
          tag: v5.3.0
          fileName: epubcheck-5.3.0.zip

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Test
        run: |
          pnpm test:ci
          # unzip epubcheck-5.3.0.zip
          # java -jar ./epubcheck-5.3.0/epubcheck.jar .output/test-core.epub
          # java -jar ./epubcheck-5.3.0/epubcheck.jar .output/test-cover.epub
          # java -jar ./epubcheck-5.3.0/epubcheck.jar .output/test-book.epub
