name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.4.0

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: robinraju/release-downloader@v1.8
        with:
          repository: w3c/epubcheck
          tag: v5.0.0
          fileName: epubcheck-5.3.0.zip

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Test
        run: |
          pnpm test:ci
          # unzip epubcheck-5.3.0.zip
          # java -jar ./epubcheck-5.3.0/epubcheck.jar .output/test-core.epub
          # java -jar ./epubcheck-5.3.0/epubcheck.jar .output/test-cover.epub
          # java -jar ./epubcheck-5.3.0/epubcheck.jar .output/test-book.epub
